[submodule "GitHub日常学习/obsidian/stars/learning/agency-agents"]
	path = GitHub日常学习/obsidian/stars/learning/agency-agents
	url = https://github.com/msitarzewski/agency-agents.git
[submodule "GitHub日常学习/obsidian/stars/learning/build-nanogpt"]
	path = GitHub日常学习/obsidian/stars/learning/build-nanogpt
	url = https://github.com/karpathy/build-nanogpt.git
[submodule "GitHub日常学习/obsidian/stars/learning/build-your-own-x"]
	path = GitHub日常学习/obsidian/stars/learning/build-your-own-x
	url = https://github.com/codecrafters-io/build-your-own-x.git
[submodule "GitHub日常学习/obsidian/stars/learning/coding-interview-university"]
	path = GitHub日常学习/obsidian/stars/learning/coding-interview-university
	url = https://github.com/jwasham/coding-interview-university.git
[submodule "GitHub日常学习/obsidian/stars/learning/dive-into-llms"]
	path = GitHub日常学习/obsidian/stars/learning/dive-into-llms
	url = https://github.com/Lordog/dive-into-llms.git
[submodule "GitHub日常学习/obsidian/stars/learning/hello-agents"]
	path = GitHub日常学习/obsidian/stars/learning/hello-agents
	url = https://github.com/datawhalechina/hello-agents.git
[submodule "GitHub日常学习/obsidian/stars/learning/llm.c"]
	path = GitHub日常学习/obsidian/stars/learning/llm.c
	url = https://github.com/karpathy/llm.c.git
[submodule "GitHub日常学习/obsidian/stars/learning/micrograd"]
	path = GitHub日常学习/obsidian/stars/learning/micrograd
	url = https://github.com/karpathy/micrograd.git
[submodule "GitHub日常学习/obsidian/stars/learning/nanoGPT"]
	path = GitHub日常学习/obsidian/stars/learning/nanoGPT
	url = https://github.com/karpathy/nanoGPT.git
[submodule "GitHub日常学习/obsidian/stars/learning/nn-zero-to-hero"]
	path = GitHub日常学习/obsidian/stars/learning/nn-zero-to-hero
	url = https://github.com/karpathy/nn-zero-to-hero.git
[submodule "GitHub日常学习/obsidian/stars/learning/project-based-learning"]
	path = GitHub日常学习/obsidian/stars/learning/project-based-learning
	url = https://github.com/practical-tutorials/project-based-learning.git
[submodule "GitHub日常学习/obsidian/stars/learning/Python-100-Days"]
	path = GitHub日常学习/obsidian/stars/learning/Python-100-Days
	url = https://github.com/jackfrued/Python-100-Days.git
